nav {
  background-color: #333;
  padding: 1rem;
}

nav a {
  color: white;
  padding: 0.5rem;
  display: block;
  text-decoration: none;
}

main {
  max-width: 800px;
  margin: 1rem auto;
}

h1 {
  color: #2a4d69;
}

main img {
  width: 150px;
  height: auto;
  border: 1px solid black;
  padding: 2px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

aside {
  width: 300px;
  margin: 1rem auto;
  border: 1px solid #ccc;
  padding: 1rem;
  background-color: #f4f4f4;
  color: #000;
}

aside img {
  width: 200px;
  height: auto;
}

p {
  padding: 0;
}

footer {
  margin-top: 2rem;
  border-top: 1px solid #ccc;
  text-align: center;
}
